# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Environment
.env
.env.test

# Git
.git/

# Test & Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# Frontend
node_modules/
dist/

# Temp
/temp/
/tmp/

# Build
build/
dist/

# OS
.DS_Store
