# web服务配置
WEB_APP_NAME=渡一web服务
WEB_CORS_ORIGINS=*
WEB_CORS_EXPOSE_HEADERS=X-Process-Time
WEB_JWT_SECRET_KEY=8f7e1a2b3c4d5e6f7a8b9c0d1e2f3a4b

# 数据库配置
DB_HOST=localhost
DB_PORT=5432
DB_NAME=duyi_db
DB_USER=admin
DB_PASSWORD=123123

# 日志配置
LOG_LEVEL=INFO
# 慢查询的警告阈值，单位毫秒
LOG_SLOW_QUERY_THRESHOLD=200